#statisticDivWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
}

#statisticDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 25vw;
}

.main-inner{
    background-color: var(--white-grey);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


