
body{

}


body::after {
    background-image: url('../src/main/resources/ru/app/public/images/svg/1299701.svg');

    left: 2%;
    top: 18%;

    rotate: 10deg;
    background-position: center;
    height: 40vh;
    opacity: 1;
    z-index: 1;
}

h1{
    font-family: LXGW, sans-serif;
    color: var(--white);
    font-size: 12vmax;
    top: 35%;
    text-align: center;
}

h2{
    font-family: LXGW, sans-serif;
    color: var(--light-green);
    font-size: 4vmax;
}

.all-page-div{
    height: 100vh;
}

@media screen and (max-width: 991px) {

}