html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.del {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.col {
    flex: 1 1 auto;
}

.scrollable {
    flex-grow: 1;
    overflow-y: auto;
}
