@font-face {
    font-family: "Underdog";
    src: url("../../assets/fonts/Underdog.ttf");
}


:root {
    --dark-green: #709d37;
    --light-green: #86C232;
    --dark-grey: #222629;
    --medium-grey: #474B4F;
    --light-grey: #cfd3cb;
    --white-grey: #e5e5e5;
    --white: #FFFFFF;
}

* {
    font-size: clamp(1rem, 1vw, 2rem);
}

html, body{
    height: 100%;
}

#root{
    min-height: 100%;
    display: flex;

}

body {
    overflow-x: auto;
    overflow-y: auto;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

a, p, h1, h2, h3, h4, h5, h6, label {
    color: var(--dark-grey);
}

.background_rounded {
    border-radius: 15px;
}

.text p {
    font-size: 0.9rem;
    font-weight: bolder;
    display: inline;
}

.text {
    padding-left: 0.14rem;
    padding-top: 1rem;
    padding-bottom: .7rem;
    border-bottom: 2px solid var(--dark-grey);
}

.minh-100 {
    min-height: 100% !important;
}

.minh-50 {
    min-height: 50% !important;
}

.minh-25 {
    min-height: 25% !important;
}

.flex-1 {
    flex: 1;
}

