.post_component{
    background-color: var(--white);

    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;

    display: flex;
    flex-direction: column;
}

.post_component_header{

}

.post_component_content{

}

.post_component_footer{

}

.user_icon{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.line{
    margin-bottom: .5rem;
    margin-top: .5rem;
    height: 1px;
    background-color: var(--light-grey);
}

.tag_block{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
   max-width: 1060px;
    width: 100%;
}

.tag_block a{
    margin-right: .4rem;
    font-size: .9rem;
    font-weight: lighter;
    text-decoration: none;
}
.grade_block{
    display: inline;
    float:inline-end;
}
@media only screen and (max-width:673px){
    .grade_block {
        display: block;
        float: none;
        padding-top: 0.4rem;
      }
      .tag_block {
        display: inline-block;
        max-width:320px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }
}