
.post_component{
    background-color: var(--white);

    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;

    display: flex;
    flex-direction: column;
}

.post_component_header{

}

.post_component_content{

}

.post_component_footer{

}

.user_icon{
    height: 2rem;
    width: 2rem;

    border-radius: 50%;
}

.line{
    margin-bottom: .5rem;
    margin-top: .5rem;
    height: 1px;
    background-color: var(--light-grey);
}
