.login_wrap {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    position: relative;

}

.login_form {
    border-radius: 1rem;
    background-color: var(--white-grey);
}

.login_wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    background: url('../../../assets/images/swamp.svg') no-repeat center center;
    background-size: cover;
    height: 100%;
    opacity: .85;
    z-index: -1;
}
