.navigation{
    border: 2px solid green;
    }

.prev, .profile{
    width:10%;
    height:2rem;
    }

.prev{
   border: 2px solid green;


}


.profile{
     border: 2px solid green;

    }
.nav_panel{
    border: 2px solid #000;
    }
#main{
    border: 2px solid green;
    }

