@font-face { font-family: "text_font1"; src: url("../fonts/text_font1.ttf"); }
@font-face { font-family: "text_font2"; src: url("../fonts/text_font2.ttf"); }
@font-face { font-family: "LXGW"; src: url("../fonts/LXGW.ttf"); }
@font-face { font-family: "Moneseratt"; src: url("../fonts/MontserratAlternates.ttf"); }
@font-face { font-family: "Underdog"; src: url("../fonts/Underdog.ttf"); }
