
html{
    scrollbar-width: none;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-grey);
    height: 100vh;
    position: relative;
    font-family: LXGW, sans-serif;
}

body::after, body::before{

    background-repeat: no-repeat;

    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.25;
    z-index: -1;
    height: 50vh;

    background-size: contain;
    pointer-events: none;

}

body::after {
    background-image: url('../images/svg/38142.svg');
    background-position: bottom left;
    height: 30vh;
    opacity: 0.2;
    left: 5%;
}

body::before {
    background-image: url('../images/svg/38015.svg');
    background-position: bottom right;
    right: 1%;
}


.left_slide{
    position: fixed;
    top: 0;
    left: 4%;
    height: 100vh;
    width: 2px;

    background-image: linear-gradient(to bottom, var(--light-green) 50%, var(--light-grey) 50%);
}

.left_slide::before, .left_slide::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8px; /* диаметр точки */
    height: 8px; /* диаметр точки */
    background-color: var(--dark-green); /* цвет точки */
    border-radius: 50%; /* чтобы точка была круглой */
    z-index: 1;
}



.left_slide::before {
    top: 25%; /* позиционируем первую точку на четверть высоты */
}

.left_slide::after {
    top: 50%; /* позиционируем вторую точку на три четверти высоты */
}

h1{
    color: var(--white);
    font-family: text_font1, sans-serif;
    font-size: 4vmax;
}

h2{
    color: var(--light-green);
    font-family: LXGW, sans-serif;
    font-size: 1.8vmax;
}

label{
    color: var(--light-green);
    font-size: 1.2vmax;
}

#login-reg-form{
    font-size: 1.2vmax;
}

#login-reg-form .nav-link{
    background-color: var(--dark-grey);
    color: var(--white-grey);
}

#login-reg-form .nav-link:hover{
    background-color: var(--light-grey);
}


#login-reg-form .nav-link.active{
    color: var(--white);
}

#login-reg-form input.form-control{
    background-color: var(--white);
}

#login-reg-form input.form-control:focus, .form-check-input:focus{
    outline: 0 none;
    border-color: var(--dark-green);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#login-reg-form .form-check-input{
    background-color: var(--white);
    border-color: var(--dark-grey);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}


#login-reg-form .form-check-input:checked{
    background-color: var(--light-green);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(255,255,255)'/></svg>");

}

#login-reg-form .strip {
    background-color: var(--dark-green);
    height: 2px;
    width: 100%;
}

#login-reg-form button {
    background-color: var(--dark-green);
    border-color: var(--dark-grey);
    font-size: 1.2vmax;
}

#login-reg-form button:hover {
    background-color: var(--light-green);
    border-color: var(--dark-grey);
}

#login-reg-form button:active {
    outline: 0 none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}