
.img_container {
    overflow: hidden;
    position: relative;
}

.img_container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.site_info_div{
    background-color: #f5f5f5;
}

.text_container{
    /*min-height: 35%;*/
}

.statistic_item{
    height: 1.5rem;
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.statistic_item img {
    margin-left: 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
}

.statistic_item p {
    font-size: 0.9rem;
    font-weight: bolder;
    padding-left: 0.5rem;
    display: inline;
}


.statistic_item .counter {
    margin: 0 0.5rem 0 auto;
    white-space: nowrap;
}

.statistic_item p:not(.counter){
    padding-right: 1rem;
}


.scrollable-content {
    overflow-y: auto;
    height: 100dvh;


    border:2px solid #000;
}


@media only screen and (max-width: 991px) {
    #div1 {
        order: 2; /* Ставим div с id="1" ниже */
    }
    #div2 {
        order: 1; /* Ставим div с id="2" выше */
    }
}

