/* general */

:root {
    --dark-green:#61892F;
    --light-green:#86C232;
    --dark-grey:#222629;
    --medium-grey:#474B4F;
    --light-grey:#6B6E70;
    --white-grey: #e5e5e5;
    --white: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--white-grey);
}

.h-40{
    height: 40%;
}

.h-60{
    height: 60%;
}

p{
    color: var(--dark-grey);
    font-size: 1vmax;
}



.bgr{
    background-color: var(--white);
    border-radius: 15px;
}

.h_80{
    height: 80vh;
}

