
@font-face { font-family: "text_font1"; src: url("../fonts/text_font1.ttf"); }
@font-face { font-family: "LXGW"; src: url("../fonts/LXGW.ttf"); }
@font-face { font-family: "Underdog"; src: url("../fonts/Underdog.ttf"); }


:root {
    --dark-green: #709d37;
    --light-green:#86C232;
    --dark-grey:#222629;
    --medium-grey:#474B4F;
    --light-grey:#6B6E70;
    --white-grey: #e5e5e5;
    --white: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--white-grey);
}

.h-40{
    height: 40%;
}

.h-60{
    height: 60%;
}

p{
    color: var(--dark-grey);
    font-size: 1vmax;
}

.white-img{
    fill: var(--white)
}


.navbar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

nav a{
    font-family: Underdog, sans-serif;
    font-weight: lighter;
}

.navbar-nav .nav-link{
    color: var(--dark-green)
}

.navbar-nav .nav-link:hover{
    color: var(--light-green)
}

.navbar-nav .nav-link.active{
    color: var(--light-green)
}

svg{
    fill: var(--dark-green);
}

svg:hover{
    fill: var(--light-green);
}

.bgr{
    background-color: var(--white);
    border-radius: 15px;
}

.h_80{
    height: 80vh;
}

