/* vlad */

.bt-s{
    padding-top: 1.7rem;
}


.contents p{
    display:inline;
    padding-left:0.6rem;
    margin-bottom:0.1em;
}

.contents{
    display:flex;
    align-items:start;
    padding-bottom: 0.4rem;

}


.r_text{
    padding-left: 0.6em;
}


.l-a{
    font-size:0.94em;
    font-weight:bolder;
}

.content_rl{
    display:flex;
    align-items:center;

}
