[data-tooltip] {
    position: relative;
    overflow: hidden;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: 0.9rem;
    font-weight: bolder;
    align-content: center;
    height: 100%;
    left: 100%; /* Начальное положение за пределами справа */
    border-radius: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: var(--dark-green);
    color: var(--dark-grey);
    pointer-events: none;
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateX(-100%); /* Сдвиг влево на ширину элемента */
}

.tooltip-trigger{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}