
@font-face { font-family: "Finger Paint"; src: url("../fonts/FingerPaint-Regular.ttf"); }
@font-face { font-family: "Text Font"; src: url("../fonts/text_font3.ttf"); }


html{
    scrollbar-width: none;
}

h1 {
    font-family: "Finger Paint", sans-serif;
    font-size: 200px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: "Finger Paint", "Text Font", sans-serif;
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
}

h2.text-yellow{
    color: #c9cb00;
}

h2.text-green{
    color: #2b9348;
}

p.text-green{
    color: #2b9348;
    font-size: 20px;
}

a{
    color: #2b9348;
}

body{
    background-color: black;
}

header{
    background-color: #dddf00;
    height: 100vh;
}

footer p{
    font-size: 16px;
    font-family:  "Text Font", sans-serif;
    font-weight: bold;
    color: #c9cb00;
}

main p{
    font-size: 18px;
    font-family: "Finger Paint", "Text Font", sans-serif;
    font-weight: bold;
    color: #c9cb00;
}

header p {
    font-size: 16px;
    font-family: "Text Font", sans-serif;
    font-weight: bold;

}

button.yellow{
    background-color: #c9cb00;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: #c9cb00;
    --bs-btn-hover-color: #c9cb00;
}



p.justify{
    text-align: justify;
    text-align-last: center;
}

