nav{
    background-color: var(--dark-grey);
}

.navbar_brand_img{
    margin-right: .5rem;
}

.navbar_center_content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.general_navbar{
    display: flex;
    flex-direction: row;
}

.additional_navbar{
    background-color: var(--dark-grey);
    display: flex;
}

nav a{
    font-family: Underdog, sans-serif;
    font-weight: lighter;
}


.navbar_user_icon{
    fill: var(--dark-green);
}
.navbar_user_icon:hover{
    fill: var(--light-green);
}


.navbar_link{
    color: var(--dark-green);
    text-decoration: none;
}
.navbar_link:hover{
    color: var(--light-green)
}


@media only screen and (max-width: 575px) {
    .general_navbar{
        display: none;
        visibility: hidden;
    }
    .additional_navbar{
        display: flex !important;
        visibility: visible;
    }
}
