.search-field {
    position: relative;
}

.navbar_icon_dark {
    fill: var(--dark-grey);
}

.search-field input {
    position: absolute;
    right: 36px;
    width: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    border: none;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.search-field input.active {
    width: 200px;
    opacity: 1;
    border-right: 2px solid var(--white-grey);
}

.search-field button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    padding: 3px;
    background-color: transparent;
    border: none;
    border-radius: 0 5px 5px 0;
}

.search-field button.active {
    background-color: var(--white);
}




@media only screen and (max-width: 767px) {

    .search-field button.active {
        background-color: transparent;
    }

    .navbar_icon_dark {
        fill: var(--dark-green);
    }

    .nav__dropdown {
        background-color: var(--dark-grey);
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.15s ease, padding 0.15s ease;
    }

    .nav__dropdown.active {
        /* Ну надо тут 500px, ещё вопросы!? */
        max-height: 500px;
        padding: 1rem;
        transition: max-height 0.15s ease, padding 0.15s ease;
    }

    .nav__dropdown input {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .nav__dropdown.active input {
        opacity: 1;
    }

    .nav__dropdown:not(.active) input {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .nav__dropdown:not(.active) {
        transition: max-height 0.15s ease, padding 0.15s ease;
    }


}
