

.post{
    border-radius: 1rem;
    height: 500px;
    background-color: var(--white);
    margin-bottom: 1rem;
}

.paginator{
    height: 80px;
    background-color: var(--white);
    border-radius: 1rem;
}

.post_del{
    height: 500px;
    background-color: var(--white);
}

